<!DOCTYPE html>
<html>
  <head>
    <title>Take Grades</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <select name="student_id">
        {% for student in students %}
        <option value="{{ student.id }}">{{ student.student_name }}</option>
        {% endfor %}
      </select>
      <select name="subject_id">
        {% for subject in subjects %}
        <option value="{{ subject.id }}">{{ subject.subjectName }}</option>
        {% endfor %}
      </select>
      <input type="text" name="grade" placeholder="Enter Grade" />
      <button type="submit">Submit Grade</button>
    </form>
  </body>
</html>
